<div class="dropdown" ng-controller="formList" >
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Filled
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li  ng-repeat="form in forms"><a href="#">{{form.formname}}</a></li>
  </ul>



</div>
<div ng-controller="formtest">{{x}}</div>
<table width="100%" style="position:static;"><tr>
  <td width="50%">

  </td>
  <td>
    <page size="A4" style="position:relative;">
      <div style="position:relative;left:0px;top:0px">
        <img src="images/Admission%20Note%20(Gen).xps.1.png" alt="" size="A4" style="z-index:0" />
      </div>
      <div style="position:relative;left:11.6cm; top:-29.5cm; z-index:1; width: 433px; height: 144px;" id="dDMG">
        <table style="width: 100%">
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dName">my name</td>

          </tr>
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dHN">HNHNHNHN</td>

          </tr>
          <tr>
            <td style="padding-left:1.7cm;width:1.9cm;" id="dDOB">dobdob</td>
            <td style="padding-left:0.3cm;width:1.5cm;" id="dAge">ageage</td>
            <td style="padding-left:0.2cm;" id="dSex">sexsex</td>
          </tr>
          <tr>
            <td style="padding-left:1cm;" id="dWard">ward</td>
            <td style="padding-left:0.7cm;" id="dRoom">roomm</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="padding-left:2.5cm;" id="dAttn">attnattn</td>

          </tr>
        </table>
      </div>





    </page>

    <page size="A4" style="position:relative">
      <div style="position:relative;left:0cm;top:0cm">
        <img src="images/Admission Note (Gen).xps.2.png" size="A4" style="z-index:0;" />
      </div>
      <div style="position:relative;left:12cm; top:-29.5cm; z-index:1; width: 433px; height: 144px;" id="dDMG">
        <table style="width: 100%">
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dName">my name</td>

          </tr>
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dHN">HNHNHNHN</td>

          </tr>
          <tr>
            <td style="padding-left:1.7cm;width:1.9cm;" id="dDOB">dobdob</td>
            <td style="padding-left:0.3cm;width:1.5cm;" id="dAge">ageage</td>
            <td style="padding-left:0.2cm;" id="dSex">sexsex</td>
          </tr>
          <tr>
            <td style="padding-left:1cm;" id="dWard">ward</td>
            <td style="padding-left:0.7cm;" id="dRoom">roomm</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="padding-left:2.5cm;" id="dAttn">attnattn</td>

          </tr>
        </table>
      </div>
    </page>

    <page size="A4" style="position:relative">
      <div style="position:relative;left:0cm;top:0cm">
        <img src="images/Admission Note (Gen).xps.3.png" size="A4" style="z-index:0;" />
      </div>
      <div style="position:relative;left:12.1cm; top:-29.2cm; z-index:1; width: 433px; height: 144px;" id="dDMG">
        <table style="width: 100%">
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dName">my name</td>

          </tr>
          <tr>
            <td colspan="3" style="padding-left:1cm;" id="dHN">HNHNHNHN</td>

          </tr>
          <tr>
            <td style="padding-left:1.7cm;width:1.9cm;" id="dDOB">dobdob</td>
            <td style="padding-left:0.3cm;width:1.5cm;" id="dAge">ageage</td>
            <td style="padding-left:0.2cm;" id="dSex">sexsex</td>
          </tr>
          <tr>
            <td style="padding-left:1cm;" id="dWard">ward</td>
            <td style="padding-left:0.7cm;" id="dRoom">roomm</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" style="padding-left:2.5cm;" id="dAttn">attnattn</td>

          </tr>
        </table>
      </div>

    </page>


  </td>
</tr></table>
